<div class="row">
  <div class="col-12 text-center">
    <img src="" class="img-fluid" alt="picture of selected contact">
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h1>contact name</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <p>description</p>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary">Left</button>
      <button type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-danger">Right</button>
    </div>
  </div>

</div>
