<div class="row">
  <div class="col-12 text-center">
    <br>
    <div class="btn btn-primary">Add Contact</div>
  </div>
</div>

<div class="row">
  <div class="col-12" style="align-content: center">
    <a href="#"
       class="list-group-item"
       *ngFor="let contact of contacts"
       style="text-align: center; border: none">
      <img src="{{contact.imgUrl}}" alt="image of contact" class="img-fluid rounded-circle" style="max-height: 200px">
      <h1>{{contact.name}}</h1>
      <p>{{contact.description}}</p>
    </a>
  </div>
</div>
